<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link rel="stylesheet" href="./element.css" />
    <style>
      /* -------- reset start -------- */

      body,
      ul,
      ol,
      p,
      h1,
      h2,
      h3,
      h4 {
        margin: 0;
        padding: 0;
      }
      ol,
      ul {
        list-style: none;
      }
      h1,
      h2,
      h3,
      h4 {
        font-weight: normal;
      }
      img {
        display: block;
      }
      a {
        color: inherit;
      }
      #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* text-align: center; */
        color: #333;
        font-size: 14px;
      }

      /* -------- reset end -------- */
      .b {
        font-weight: bold;
      }
      /* element.css 修改开始 */
      .el-table th > .cell {
        text-align: center;
      }
      .el-table td > .cell {
        text-align: center;
      }
      .el-table--border {
        border: none !important;
      }
      .el-table th,
      .el-table td {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-weight: normal !important;
      }
      .el-table.has-sort th {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
      }
      .el-table th {
        color: #666 !important;
      }
      .el-table::before {
        height: 0px !important;
      }
      .el-dialog{
        width: 400px;
      }

      /* element.css 修改结束 */
      .main {
        width: 640px;
      }
      .setting-desc {
        margin-top: 40px;
        text-align: center;
      }
      .menu-header {
        position: relative;
        /* border-bottom:1px solid #ccc; */
      }
      .menu-header-right {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
      }
      .editor-wrap {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      .editor {
        width: 100%;
      }
      .btn-wrap {
        margin-top: 40px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="editor" style="display: none;"></div>
    <div id="app">
      <section class="form-wrap main">
        <header class="menu-header">
          <el-tabs
            class="menu-header-left"
            v-model="tabActiveName"
            @tab-click="handleClick"
          >
            <el-tab-pane
              v-for="item in menuTableDataNative"
              :key="item.menuId"
              v-if="item.menuType==='chat' || item.menuType==='quiz'"
              :label="item.name"
              :name="item.menuId"
            >
              <div class="setting-desc">
                当前为{{ item.name }}模块<br />
                {{ item.name }}模块为系统默认样式
              </div>
            </el-tab-pane>
            <el-tab-pane v-else :label="item.name" :name="item.menuId">
              <div class="editor-wrap">
                <div :ref="'editor'+item.menuId" class="editor"></div>
              </div>
              <div class="btn-wrap">
                <el-button type="primary" @click="clickSaveContent(item.menuId)"
                  >确认保存</el-button
                >
              </div>
            </el-tab-pane>
          </el-tabs>
          <div class="menu-header-right">
            <el-link type="primary" @click="clickAddMenu">添加菜单</el-link>
            <el-link type="primary" @click="clickManageMenu">菜单管理</el-link>
            <!-- 添加菜单的弹出框 -->
            <el-dialog title="添加菜单" :visible.sync="showAddMenu">
              <el-form :model="addMenuForm">
                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                  <el-input
                    v-model="addMenuForm.name"
                    autocomplete="off"
                    maxlength="8"
                    show-word-limit
                  ></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="showAddMenu = false">取消</el-button>
                <el-button type="primary" @click="clickBtnAddMenu"
                  >确认添加</el-button
                >
              </div>
            </el-dialog>
            <!-- 菜单管理的弹出框 -->
            <el-dialog title="菜单管理" :visible.sync="showManageMenu">
              <el-table :data="menuTableData" stripe>
                <el-table-column prop="name" label="菜单名称" width="200">
                  <!-- #default="{row}" -->
                  <el-input
                    slot-scope="scope"
                    v-model="scope.row.name"
                    autocomplete="off"
                    maxlength="8"
                    show-word-limit
                    @input="inputUpdateName(scope.row.menuId)"
                  ></el-input>
                </el-table-column>
                <!-- <el-table-column prop="menuType" label="菜单类型" width="150">
                  </el-table-column> -->
                <el-table-column prop="action" label="操作" width="200">
                  <el-link
                    type="danger"
                    slot-scope="scope"
                    @click="clickDeleteMenu(scope.row.menuId)"
                    >{{ scope.row.name === "咨询提问" ? "" : "删除" }}</el-link
                  >
                </el-table-column>
              </el-table>
              <div slot="footer" class="dialog-footer">
                <el-button @click="showManageMenu = false">取消</el-button>
                <el-button type="primary" @click="clickBtnSaveManage"
                  >确认添加</el-button
                >
              </div>
            </el-dialog>
          </div>
        </header>
      </section>
    </div>
  </body>
  <!-- import Vue before Element -->
  <script src="./vue.min.js"></script>
  <!-- import JavaScript -->
  <script src="./element.js"></script>
  <script src="./wangEditor.min.js"></script>
  <script src="./axios.min.js"></script>
  <script src="./md5.min.js"></script>

  <script>
    // 拿到sign
    const getSign = (params, appSecret) => {
      let keys = Object.keys(params);
      // let isHasKey = keys.length !== 0
      keys.sort();
      let paramsStr = "";
      // 累加
      keys.forEach(key => (paramsStr += `${key}${params[key]}`));
      // 首尾加上appSecret
      paramsStr = `${appSecret}${paramsStr}${appSecret}`;
      // https://github.com/emn178/js-md5
      // 用的hex方法 然后大写
      let res = md5.hex(paramsStr).toUpperCase();
      return res;
    };
    // 加上appId timestamp 和sign
    // appId:fel1unowyw
    // AppSecret:8e22d3a7471d4e0e8ddaecef69b74079
    const getNewParams = (params, appId, appSecret) => {
      const timestamp = new Date() - 0;
      params = { ...params, appId, timestamp };
      const sign = getSign(params, appSecret);
      params.sign = sign;
      return params;
    };
    const ADD_ID = "fel1unowyw";
    const ADD_SECRET = "8e22d3a7471d4e0e8ddaecef69b74079";
    const AjaxMenuList = ({ channelId }) => {
      let params = getNewParams({ channelId }, ADD_ID, ADD_SECRET);
      return axios.get("http://api.polyv.net/live/v3/channel/menu/list", {
        params
      });
    };
    const AjaxMenuUpdate = ({ menuId, content }) => {
      return axios.post("http://api.polyv.net/live/v3/channel/menu/update", {
        menuId,
        content
      });
    };
    const AjaxMenuAdd = ({
      channelId,
      name,
      content,
      type = "text"
    }) => {
      return axios.post("http://api.polyv.net/live/v3/channel/menu/add", {
        channelId,
        name,
        content,
        type
      });
    };
    const AjaxMenuDelete = ({
      menuIds
    }) => {
      return axios.post("http://api.polyv.net/live/v3/channel/menu/delete", {
        menuIds
      });
    };
    let vm = new Vue({
      el: "#app",
      mounted() {
        this.init();
      },
      methods: {
        ajaxMenuList() {
          AjaxMenuList({ channelId: this.channelId }).then(res => {
            res = res.data;
            if (!res.status === "sucess") {
              this.$message.error(res.message);
              return;
            }
            resData = res.data;
            this.menuTableDataNative = resData;
            this.createEditor();
            console.log(JSON.stringify(resData[0]));
          });
        },
        init() {
          console.log(2);
          this.ajaxMenuList();

          // 这里先请求拿到菜单的接口
        },
        inputUpdateName(menuId){
          let menu = this.menuTableData.find(menu => menu.menuId === menuId)
          menu.updateName = menu.name
        },
        clickSaveContent(menuId) {
          console.log(this.$refs[`editor${menuId}`]);
          // let content = this.$refs[`editor${menuId}`].innerHTML
          let content = 12;
          AjaxMenuUpdate({ menuId, content }).then(res => {
            res = res.data;
            if (!res.status === "sucess") {
              this.$message.error(res.message);
              return;
            }
            // 成功的话更新现有的content
            let menu = this.menuTableDataNative.find(
              menu => menu.menuId === menuId
            );
            menu.content = content;
          });
        },
        // 这是点击显示弹出框
        clickManageMenu() {
          this.showManageMenu = true;
        },
        // 这是点击显示弹出框
        clickAddMenu() {
          this.showAddMenu = true;
        },
        // 这是点击添加的功能
        clickBtnAddMenu() {
          AjaxMenuAdd({ channelId:this.channelId,name: this.addMenuForm.name, content: "" }).then(
            res => {
              res = res.data;
              if (!res.status === "sucess") {
                this.$message.error(res.message);
                return;
              }
              // 成功的话增加现有的menu
              this.menuTableDataNative.push(res.data);
              this.showAddMenu = false;
              // 重新初始化这个tab下的编辑器
              this.createSingleEditor(res.data.menuId);
            }
          );
        },
        clickDeleteMenu(menuId) {
          console.log(menuId);
          let menu = this.menuTableData.find(menu=>menu.menuId === menuId)
          menu.isDelete = true
        
          this.menuTableData.forEach((menu,index)=>{
            if(menu.menuId === menuId){
              this.menuTableData.splice(index,1)
              return
            }
          })
        },
        clickBtnSaveManage() {
          this.showManageMenu = false;
          // 请求很多接口 成功之后 this.menuTableDataNative赋值
          // 请求修改 名字的接口
          // 请求删除 的接口
          // 根据 menuTableData的 isDelete判断删除，根据updateName判断修改名字
          console.log(this.menuTableData)
          this.menuTableDataNative = this.menuTableData
        },
        createEditor() {
          this.menuTableDataNative.forEach(menu => {
            if (menu.name === "互动聊天" || menu.name === "提问") {
              return;
            }
            this.createSingleEditor(`editor${menu.menuId}`, menu.content);
          });
        },
        // editorname和tab的label是一样的
        createSingleEditor(editorName, innerHTML='') {
          // menuId为辨别，前缀加上editor
          // 自定义菜单配置
          const menus = [
            "head", // 标题
            "bold", // 粗体
            "fontSize", // 字号
            "fontName", // 字体
            "italic", // 斜体
            "underline", // 下划线
            "foreColor", // 文字颜色
            "backColor", // 背景颜色
            "link", // 插入链接
            "list", // 列表
            "justify", // 对齐方式
            "quote", // 引用
            "image", // 插入图片
            "undo", // 撤销
            "redo" // 重复
          ];
          // 自定义配置颜色
          const colors = [
            "#000000",
            "#eeece0",
            "#1c487f",
            "#4d80bf",
            "#c24f4a",
            "#8baa4a",
            "#7b5ba1",
            "#46acc8",
            "#f9963b",
            "#ffffff"
          ];

          Vue.nextTick(() => {
            let E = window.wangEditor;
            console.log(editorName);
            let editor = new E(this.$refs[editorName]);
            console.log(this.$refs[editorName]);
            editor.customConfig.menus = menus;
            editor.customConfig.colors = colors;
            // console.log(editor.$toolbarElem[0])
            editor.create();
            editor.cmd.do("insertHTML", innerHTML);
            const setIndex = domClass => {
              let doms = document.querySelectorAll(domClass);
              doms = [...doms];
              doms.forEach(dom => (dom.style.zIndex = 1));
            };
            setIndex(".w-e-text-container");
            setIndex(".w-e-menu");
          });
        },
        handleClick(tab, event) {
          console.log(tab, event);
        }
      },

      data: {
        channelId:365118,
        menuTableDataNative: [
          {
            menuId: "8907d8f6ee",
            menuType: "desc",
            name: "直播介绍",
            ordered: 1,
            content: "<p>法庭GV和</p>"
          }
        ],
        menuTableData:[],
        showAddMenu: false,
        addMenuForm: {
          name: "",
          type: "text"
        },
        formLabelWidth: "5em",
        showManageMenu: false,
        menuTableKeys: [
          {
            prop: "name",
            label: "菜单名称"
          },
          // {
          //   prop:'menuType',
          //   label:'菜单类型',
          // },
          // {
          //   prop:'ordered',
          //   label:'菜单顺序',
          // },
          {
            prop: "action",
            label: "操作"
          }
        ]
      },
      watch:{
        menuTableDataNative(newValue){
          let menuTableData = JSON.parse(JSON.stringify(newValue))
          // menuTableData = menuTableData.map(menu => {
          //   menu.nameEditing = menu.name;
          //   menu.contentEditing = menu.content;
          //   return menu;
          // });
          this.menuTableData = menuTableData
        }
      },
      computed: {
        // {"menuId":"8907d8f6ee","menuType":"desc","name":"直播介绍","ordered":1,"content":"<p>法庭GV和</p>"}
        // menuTableDataNative() {
        //   let res = this.menuTableDataNativeNative.map(menu => {
        //     menu.nameEditing = menu.name;
        //     menu.contentEditing = menu.content;
        //     return menu;
        //   });
        //   return res;
        // },
        // orderd大小来 这边偷懒取第一个了
        tabActiveName() {
          return this.menuTableDataNative[0].menuId;
        }
      }
    });
  </script>
</html>
